<!-- <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="contentGeneral">
    <div class="modal-dialog modal-dialog-centered">
      <div class="contentModal">
        <div class="contentTags">
          <h3 class="text-secondary">{{dataModal.tags}}</h3>
        </div>
        
        <img class="img-fluid imgModal" [src]="dataModal.webformatURL" alt="">
        
      </div>
      
    </div>
    <div class="contentBarra">
      <div class="barra">
        <!-- <button [ngClass]="{ btnActive: active }" class="btn btn-primary" 
        type="submit"
        (click)="clickLike()">Me gusta</button> -->
        <input [ngClass]="{ btnDisactive: !active }" class="buttonLike btn btn-primary" 
        type="submit" value="Me gusta {{dataModal.likes}}" (click)="clickLike()">
    
        <!-- <input aria-label="check" type="button"  (click)="clickLike()"> -->
        <div class="contentViews">
          <h5 class="textView"> Vistas: {{dataModal.views}}</h5>
        </div>
        
      </div>
      
  
    </div>
  </div>


 