
  <div class="contentGeneral">
    <div class="modal-dialog modal-dialog-centered">
      <div class="contentModal">
        <div class="contentTags">
          <h3 class="text-secondary">{{dataModal.tags}}</h3>
        </div>
        
        <img class="img-fluid imgModal" [src]="dataModal.webformatURL" alt="">
        
      </div>
      
    </div>
    <div class="contentBarra">
      <div class="barra">
        <input [ngClass]="{ btnDisactive: !active }" class="buttonLike btn btn-primary" 
        type="submit" value="Me gusta {{dataModal.likes}}" (click)="clickLike()">
        <div class="contentViews">
          <h5 class="textView"> Vistas: {{dataModal.views}}</h5>
        </div>
        
      </div>
      
  
    </div>
  </div>


 