<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<div class=" lightbox-gallery contentHome">

    <h1 class="text-center text-secondary">PIXABAY IMAGENES</h1>
    <div class="contentFilters mb-4">
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuBoton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Categorías
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton">
                <a (click)="filterDropdown('NAN')" class="dropdown-item">General</a>
                <a (click)="filterDropdown('science')" class="dropdown-item">Science</a>
                <a (click)="filterDropdown('education')" class="dropdown-item">Education</a>
                <a (click)="filterDropdown('people')" class="dropdown-item">People</a>
                <a (click)="filterDropdown('feelings')" class="dropdown-item">Feelings</a>
                <a (click)="filterDropdown('computer')" class="dropdown-item">Computer</a>
                <a (click)="filterDropdown('buildings')" class="dropdown-item">buildings</a>
            </div>            
        </div>
    
        <div class="contentBottom">
            <form [formGroup] = "filterForm" (ngSubmit)="submitFilter()" class="filter">
                <label class="form-label">Filtro</label>
                <input type="text" class="inputSub form-control" placeholder="Búsqueda"
                name="type"  formControlName="type" [maxLength]="100">
              </form>
              
            <input class="btn btn-primary" type="submit" value="Buscar" (click)="submitFilter()">
        </div>
        

    </div>
    
    <!-- <div class="lightbox">
        <div class="multi-carousel">
            <div class="multi-carousel-inner">
                <div class="multi-carousel-item" *ngFor="let img of listImgs; index as i">
                    <img class="imgsPixay"  [src]=[img.previewURL] 
                    (click)="openModalImgs(img)">
                </div>
            </div>
        </div>
    </div> -->
        
    <!-- <div class="contentImgs row" *ngIf="listImgs">
        <div class="col-lg-2" *ngFor="let img of listImgs; index as i">
            <img class="imgsPixay"  [src]=[img.previewURL] 
            (click)="openModalImgs(img)">
        </div>
    </div> -->
    <div class="contentImgs photos row" *ngIf="listImgs">
        <div class="col-sm-6 col-md-4 col-lg-3 item" *ngFor="let img of listImgs; index as i">
            <img class="imgsPixay"  [src]=[img.previewURL] 
            (click)="openModalImgs(img)">
        </div>
    </div>
</div>

